$palettes: (
  blue: hsl(233, 26%, 24%),
  green: hsl(136, 65%, 51%),
  cyan: hsl(192, 70%, 51%),
  gray-dark: hsl(233, 8%, 35%),
  gray-base: hsl(233, 5%, 55%),
  gray-light: hsl(220, 16%, 96%),
  gray-lighter: hsl(0, 0%, 98%),
  white: hsl(0, 0%, 100%),
);
